.list {
  margin-bottom: 30px;
  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    margin-bottom: 5px;

    &.active {
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    i {
      display: flex;
      margin-right: 8px;
      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
    .badge {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      position: relative;
      left: 5px;

      &--green {
        background-color: #42b883;
      }

      &--blue {
        background-color: #64c4ed;
      }
      &--pink {
        background-color: #ffbbcc;
      }
    }
  }
}
